

<div class="back-g">
    <div class="container back-g main_con">
        <div class="row">
            <div class="col-md-12 col-12">
                <nav class="navbar back-g navbar-expand-lg navbar-dark ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Saif-Techno</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-3 ms-auto mb-2 mb-lg-0">
                                <li class="nav-item mx-3">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a class="nav-link" href="/about">About Us</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a class="nav-link" href="/weather">Find Weather</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>